$white: #fff;
$black: #000;
$deep-sky-blue: DeepSkyBlue;
$paradise-yellow: #808000;
$woods-green: #7bc8a4;
$reef-purple: #800080;
$hover-gray: #f5f5f5;
$gray: Gray;
$blue: Blue;
$transparent-black: rgba(0, 0, 0, .25);
$colors: $paradise-yellow, $woods-green, $reef-purple;

.paradise {
  color: $paradise-yellow;
}

.woods {
  color: $woods-green;
}

.reef {
  color: $reef-purple;
}
