header {
  align-items: center;
  display: flex;
  justify-content: center;

  .logo {
    flex: 50%;
    padding-right: 18px;
    text-align: right;
    white-space: nowrap;
  }

  nav {
    flex: 50%;
    white-space: nowrap;

    a, a:visited {
      color: $gray;
      text-decoration: none;
    }
    
    a:hover {
      opacity: .5;
    }
  }
}

@media only screen and (max-width: $max-width) {
  header {
    flex-wrap: wrap;

    .logo {
      flex: 100%;
      margin: 20px 0;
      padding: 0;
      text-align: center;
    }

    nav {
      display: block;
      flex: 100%;
      margin: 0 0 20px 0;
      text-align: center;
    }
  }
}

@media only screen and (max-width: $min-width) {
  header {
    .logo {
      margin-bottom: 0;
      transform: scale(0.8);
    }

    nav {
      white-space: pre-line;
    }
  }
}


.main {
  margin: auto;
  padding-bottom: 1.5em;
  padding-top: 1.5em;
  text-align: center;

  a, a:visited {
    text-decoration: none;
  }

  a:not([class]), a:visited:not([class]) {
    color: $gray;
  }
  
  a:hover {
    opacity: .5;
  }

  &.odd {
    background-color: $black;
    color: $white;
  }

  .contents {
    margin: auto;
    max-width: $max-width;
    width: 80%;
  }
}

.box {
  box-shadow: 3px 3px 6px 0 $transparent-black;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 10%;
  text-align: center;
}

table {
  border-collapse: collapse;
  margin: auto;
  width: 60%;

  tr:hover {
    background-color: $hover-gray;
  }
  
  th,
  td {
    border: 1px solid $black;
    padding: 10px;
  }  
}

footer {
  text-align: right;
  width: 100%;

  img {
    padding: 10px;
    width: 50px;
  }
}

hr {
  margin: 2em 0;
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0));
}