body {
     font-family: Arial,Helvetica Neue,Helvetica,sans-serif;
}

.header {
        text-align: center;
}

.header img {
        vertical-align: middle; 
}

.center {
        margin:auto;
        display: block;
}

.main {
      margin:auto;
      text-align: center;
      padding-bottom: 1.5em;
      padding-top:1.5em;
}

.odd {
     background-color:black;
     color:white;
}

.odd a {
     color: DeepSkyBlue;
}

.main .contents {
      margin:auto;
      width: 60%;
}

.main ul{
      list-style-position: inside;
}

div .box {
    border-style: outset;
    border-width: medium;
    margin: auto;
    width: 60%;
}

.paradise {
      color: #808000;
}

.woods {
      color: green;
}

.reef {
      color: purple;
}

.footer {
    z-index: 1;
    position: fixed;
    padding:10px;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: right;
}

.motto {
       font-style: italic;
}

.logo {
    padding-right: 15px;
}