---
layout: default
---
<div>
  <p>Founded in 2018, Yrevocnu is an autopoietic process running on a distributed network of sociotechnical resources. Designed with ideas drawn from Gunther Taubner, Mirielle Hildebrandt, Francisco Varela, and Seymour Pappert, Yrevocnu harnesses artists, engineers, scholars, executives, and spiritualists into an infinite game. It defines an ongoing "space" for intimate, provocative engagement. Triannual Events for communal renewal and integration punctuate an ongoing creation, curation, and collaboration between members whose current affiliations include Cornell Tech’s Digital Life Initiative, Carnegie Mellon University’s Human-Computer Interaction Institute, St. Michael’s College at the University of Toronto, New York University’s Information Law Institute, and the Wharton School of Business.</p>
  <p>We are loosely structured, imagined as an <a href="https://www.aleph.se/Trans/Cultural/Philosophy/infinitegames.html">infinite game</a>, with flexible rules like <a href="https://cf.geekdo-images.com/imagepagezoom/img/f48jokMCs1hrr0-jQAcRCJcfwpM=/fit-in/1200x900/filters:no_upscale()/pic1815571.jpg">Calvinball</a> or <a href="https://legacy.earlham.edu/~peters/nomic.htm">Nomic</a>.</p>
  </div>
      <div class="main odd">
        <div class="contents">
          <h2>Influences and Inspirations</h2>
          <p>We are influenced and inspired by so many people and organizations.</p>
          {% for inspiration in site.data.inspirations %}
          <span class="{{inspiration.house}}">
            {% if inspiration.link %}
            <a href="{{inspiration.link}}">
              {% endif %}
              {{inspiration.name}}
              {% if inspiration.link %}
            </a>
            {% endif %}
          </span>
          {% endfor %}
        </div>
      </div>

      <div class="main">
        <div class="contents">
          <h2>Aphorisms</h2>
          <p>Uncovery's philosophy is developed and communicated through aphorisms. These are some of them.</p>
          {% for aphorism in site.data.aphorisms %}
          <p class="motto {{aphorism.house}}">{{aphorism.motto}}</p>
          {% endfor %}
        </div>
      </div>

      <div class="main odd">
        <div class="contents">
        <h2>Affiliations</h2>
        <p>What other organizations and associations are affiliated with <em>Yrevocnu</em>?</p>
        <p><a href="https://bead.glass">Glass Bead Labs</a>, <a href="https://ecult.org">eCult.org</a></p>
        </div>
        </div>
      <!--
      <div class="main">
        <div class="contents">
        <h2>People</h2>
        <p>Uncovery is made of people. Some of those people are:</p>
        <a href="https://www.amandasariperez.com" class="woods">Amanda Sari Perez</a></li>, <a href="http://sbenthall.net/" class="reef">Sebastian Benthall</a></p>
</div>
</div>
-->
