---
layout: default
---
<div id="about">
  <div class="main odd">
    <div class="contents">
      <h1>About</h1>
      <p>Yrevocnu is a multidisciplinary creative society devoted to the pursuit of uncovery in all its forms—artistic,
        social, technological and therapeutic.</p>
      <p>Founded in 2018, Yrevocnu brings together members from across the globe to participate in triannual events
        dedicated communal renewal, collective pedagogy, collaborative projects and freeform play.</p>
    </div>
  </div>
  <div id="links-wrapper" class="main">
    <div class="contents">
      <h2>What We're Talking About Right Now</h2>
      <ul id="links"></ul>
    </div>
  </div>

  <div class="main odd">
    <div class="contents">
      <h2>Governance</h2>
      <p>Yrevocnu is an autopoietic social system self-regulated by its Pattern.</p>
    </div>
  </div>
</div>