---
layout: default
---
{{content}}
      <div class="main">
        <div class="contents">
        <h2>Events</h2>

        {% assign future = site.data.events[4] %}
        <div class="box">
          <p>The {{future.ordinal}} triannual {{future.name}}</p>
          <h3>@ {{future.location}}</h3>
          <p>is {{future.dates}}</p>
          <p>in Observance of {{future.holiday}}</p>
<!--
          <p>celebrates <a href="https://www.britannica.com/topic/Guy-Fawkes-Day">Guy Fawkes Day</a></p>
          <p>Nov 2-5, 2018</p>
          <p>at Cult HQ, in Pittsburgh, PA.</p> -->
        </div>
        </div>
      </div>

      <div class="main odd">
        <div class="contents">
          <p>Yrevocnu is a creative society engaged in an infinite game.</p>
        </div>
      </div>

      <div class="main">
        <div class="contents">
          <p>The moves in the game are a series of events.</p>
          <p>They are opportunities to share skills with each other through play.</p>
          <p>They are opportunities to make something.</p>
          <p>They are opportunities to shape the future of our community.</p>
          <p>Currently the events are invitation-only. We select for great people who we think have something to learn from each other.</p>
        </div>
      </div>

