---
layout: default
---
{{content}}
<div class="main">
  <div class="contents">
    <h1>Events</h1>

    {% assign future = site.data.events[7] %}
    <div class="box">
      <p>The {{future.ordinal}} triannual {{future.name}}</p>
      <h3>@ {{future.location}}</h3>
      <p>is {{future.dates}}</p>
      <!-- <p>in Observance of {{future.holiday}}</p> -->
    </div>
  </div>
</div>

<div class="main odd">
  <div class="contents">
    <p>Yrevocnu is a creative society engaged in an infinite game devoted to the process of uncovery in all its forms.</p>
  </div>
</div>

<div class="main">
  <div class="contents">
    <p>The moves in the game are a series of events, held twice a year at varying locations in the real world and online.</p>
    <p>They are opportunities to share skills and ideas with one another through play.</p>
    <p>They are opportunities to make something.</p>
    <p>They are opportunities to shape the future of our community.</p>
    <p>Currently the events are invitation-only. We select for great people who we think have something to learn from one another.</p>
  </div>
</div>
