---
layout: default
---
<div class="main">
  <div class="contents">
    <h1>Products</h1>
    <p>Yrevocnu has several <strong>MAXIMUM VIABLE PRODUCTS</strong> in the works.</p>
  </div>
</div>
<div class="main odd">
  <div class="contents">
    <h2>Now City</h2>
    <img src="{{"images/now-city-flag.jpeg" | relative_url}}"></img>
  <p>"Very hip, very now." Now City is a transmedia gaming
    experience of a smart, sustainable city that survives the apocalypse.
    It is also a real city, now.</p>
  <p>Yrevocnu's orientation towards exhaustion on a planetary scale is proactive. It aims to lay the foundation for a new smart and sustainable city, and with it a smart, sustainable culture. A response to temporary Black Rock City of Burning Man, which burns out every year, we envision a distributed city that exists across physical, virtual, and augmented realities.</p>
  <p>Our program is one of speculative design through transmedia fictions. By "telling the story" of Yrevocnu in live performance, VR, podcasts, graphics novels, music, and other forms, we provide an immersive environment for participants to imagine and enact the future city, and in particular needs and challenges of its education system.</p>
</div>
</div>
<div class="main even">
  <div class="contents">
    <h2>SamsaraCoin</h2>
    <img src="{{"images/Spesmilo_sign.png" | relative_url}}" width="50px"></img>
  <p>A trust and gratitude based currency using centralized digital ledger
    technology.</p>
</div>
</div>
