---
layout: default
---
<div id="products">
  <div class="main">
    <div class="contents">
      <h1>Products</h1>
      <p>Yrevocnu has several <strong>MAXIMUM VIABLE PRODUCTS</strong> in the works.</p>
    </div>
  </div>
  <div class="main odd">
    <div class="contents">
      <h2>Now City</h2>
      <img src="{{"images/now-city-flag.jpeg" | relative_url}}" />
      <p>"Very hip, very now." Now City is a transmedia gaming
        experience of a smart, sustainable city that survives the apocalypse.
        It is also a real city, now.</p>
      <p>Yrevocnu's orientation towards exhaustion on a planetary scale is proactive. It aims to lay the foundation for
        a
        new smart and sustainable city, and with it a smart, sustainable culture. A response to temporary Black Rock
        City
        of Burning Man, which burns out every year, we envision a distributed city that exists across physical, virtual,
        and augmented realities.</p>
      <p>Our program is one of speculative design through transmedia fictions. By "telling the story" of Yrevocnu in
        live
        performance, VR, podcasts, graphics novels, music, and other forms, we provide an immersive environment for
        participants to imagine and enact the future city, and in particular needs and challenges of its education
        system.
      </p>
    </div>
  </div>
  <div class="main even">
    <div class="contents">
      <h2>SamsaraCoin</h2>
      <img src="{{"images/Spesmilo_sign.png" | relative_url}}" width="50px" />
      <p>A trust and gratitude based currency using centralized digital ledger technology.</p>
    </div>
  </div>
  <div class="main odd">
    <div class="contents">
      <h2>Psychedelic Glass Bead Game</h2>
      <img src="{{"images/pgbg.png" | relative_url}}" width="500px" />
      <blockquote><em>"Should we be mindful of dreams?" Joseph asked. "Can we interpret them?" The Master looked into his eyes and said tersely: "We should be mindful of everything, for we can interpret everything."</em><br /><strong>Hermann Hesse</strong>, <a href="https://www.goodreads.com/work/quotes/2959456" target="_blank">The Glass Bead
          Game</a>
      </blockquote>
      <p>The Psychedelic Glass Bead Game (PGBG) is based on the game central to the plot of Herman Hesse's final novel,
        Glass Bead Game. The novel describes a fictional country, Castalia, in which academics live a spartan life of
        dedicated study. The most popular sport of Castalia is a game called the Glass Bead Game. Originally a musical
        notation system that used glass beads, the system evolved into a game, and the game evolved for drawing out and
        inferring previously unknown connections concepts and events. The game was scored on the beauty of the end
        result
        along many aesthetic metrics. It became, in essence, a metaphor for the whole of reality.</p>
      <p>The object of PGBG is to collaboratively tell a story. However, instead of using beads, we use Tarot cards.
        Tarot, is a card based divination system in which a single deck provides enough in the way of characters and
        plot
        twists to tell any story. Through Tarot, we are able to play the Glass Bead Game, to avoid confusion with the
        book, we call it PGBG.</p>
      <p>The game itself is an evolving system, thus far each round has been an iteration on the last.</p>

      <hr />

      <h3>Board</h3>
      <p>The board helps structure the story. It has distinct spaces for the distinct parts of a story.</p>
      <ul class="list-none">
        <li>Protagonist</li>
        <li>Protagonists helper</li>
        <li>Antagonist</li>
        <li>Antagonists Helper</li>
        <li>The Football (Central Plot Conflict)</li>
        <li>Plot Twist</li>
        <li>Conclusion</li>
      </ul>

      <hr />

      <h3>Decks</h3>
      <p>Any combination and number of decks can be used, but it tends to be easiest to stick to one deck. 5 Decks have
        been digitized they are:</p>
      <ul class="list-none">
        <li>Toth</li>
        <li>Rider Wait</li>
        <li>Jung</li>
        <li>Chaos Deck</li>
        <li>Yrevocnu's own deck...</li>
      </ul>
      <p>Each deck has its own flavor.</p>

      <hr />

      <h3>Play</h3>
      <ol class="text-left">
        <li>Each player draws a card</li>
        <li>Players go in voluntary order</li>
        <li>Each player plays a until <em>n-1</em> (where n is the number of spaces on the board) spaces on the board are filled
        </li>
        <li>Playing the last space is optional</li>
        <li>When a card is played, the player has to explain that part of the story based on the meaning of the card.
          The
          player has wide liberty to associate their new story element to the card. As a starting place, the cards come
          with a suggested meaning when drawn, but you can invent your own.</li>
        <li>No player can go a second time, until each player has gone</li>
        <li>Players and audience are encouraged to actively discuss the story throughout play</li>
      </ol>

      <hr />

      <h3>Scoring</h3>

      <p>Scoring doesn't actually exist, but if it did higher scores would go to the most coherent and aesthetically
        pleasing stories that make use of the cards. Bonus points at the end go to:</p>

      <ul class="list-none">
        <li>Tying the story to the plot of a movie, show, book or other generally known work of fiction</li>
        <li>Demonstrating resemblance to actual events, current or historical</li>
        <li>Identifying with story by telling how the board pertains to one's own life</li>
      </ul>
    </div>
  </div>
</div>