---
layout: default
---
      <div class="main odd">
        <div class="contents">
        <h2>Sociopolitical Emancipation</h2>
        <p>Our Maximum Viable Product is Sociopolitical Emancipation. Using cutting edge Dada Science techniques, we are engaged in deep healing processes that explore the frontiers of telepresence sex robot design and implementation, financed by novel digital trust and gratitude based currency, as liberatory educational technology. </p>
        </div>
      </div>
</div>
