---
layout: default
---

<div class="main">
  <div class="contents">
    <h1>Testimonials</h1>
    <p>Yrevocnu is an art project, a political movement, a scientific experiment, and, in the broadest possible sense, a romance, all in one. It's not for everybody. In this space, we display testimonials solicited from attendees in response to their first Event.</p>
  </div>
</div>

{% for post in site.categories.first[1] %}

<div class="main {% cycle 'odd', '' %}">
  <div class="contents">
    <h2>{{ post.title }}</h2>
    {{post.content | markdownify}}
  </div>
</div>
{% endfor %}

      
